body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	perspective: 100rem;
 	user-select: none;
}

.index{
	display: inline-block;
	position: absolute;
	width: 100%;
	min-height: 100%;
	background:-webkit-radial-gradient(#3a3434 0%,#000000 100%);
    color: #1f1c1c;
}

.index:before{
	content: "ST";
	position: absolute;
	width: 200px;
	height: 200px;
	color: #1f1c1c;
	text-shadow: 1px 1px 5px black;
	font-size: 200px;
	top: 200px;
	right: 0;
	left: 0;
	margin: auto;
}

.index .box{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 500px;
	height: 500px;
	transition: all 1s linear;
	opacity: 0.5;
}


.index .box .ball{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateZ(-30deg) rotateX(-30deg);
	animation: ball 36s infinite linear;
}

.index .box .ball>div{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid #544729;   
	transition: all 0.5s;   		
}

.index .box:hover .ball>div{
	border: 1px solid #71664e; 
}

.index .box .ball .line:nth-child(1){
	transform: rotateY(0deg);
}

.index .box .ball .line:nth-child(2){
	transform: rotateY(15deg);
}
.index .box .ball .line:nth-child(3){
	transform: rotateY(30deg);
}

.index .box .ball .line:nth-child(4){
	transform: rotateY(45deg);
}

.index .box .ball .line:nth-child(5){
	transform: rotateY(60deg);
}

.index .box .ball .line:nth-child(6){
	transform: rotateY(75deg);
}

.index .box .ball .line:nth-child(7){
	transform: rotateY(90deg);
}

.index .box .ball .line:nth-child(8){
	transform: rotateY(105deg);
}

.index .box .ball .line:nth-child(9){
	transform: rotateY(120deg);
}

.index .box .ball .line:nth-child(10){
	transform: rotateY(135deg);
}

.index .box .ball .line:nth-child(11){
	transform: rotateY(150deg);
}

.index .box .ball .line:nth-child(12){
	transform: rotateY(165deg);
}

@keyframes  ball{
	from{
		transform: rotateZ(-30deg) rotateX(-30deg) rotateY(0);
	}
	to{
		transform: rotateZ(-30deg) rotateX(-30deg) rotateY(360deg);
	}
}
.index .box .menu{
	position: absolute;
	width: 50%;
	height: 15%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform-style:preserve-3d;
	transition: all 0.5s;
	transform: rotateY(4deg);
}

.index .box .menu .option{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 50px;
	color:#e688886e;
	cursor: pointer;
	transition: all 0.5s;
	text-align: center;
}

.index .box .menu .option:hover{
	text-shadow: 0 0 10px orange;
	color:#e68888;
}

.index .box .menu .option:nth-child(1){
	transform: rotateY(0) translateZ(280px);
}

.index .box .menu .option:nth-child(2){
	width: 120%; 
	transform: rotateY(120deg) translateZ(280px);
}

.index .box .menu .option:nth-child(3){
	width: 80%;
	transform: rotateY(240deg) translateZ(280px);
}

.ifame_box{
	position: absolute;
	width: 0;
	height: 530px;
	right:0;
	top: 0;
	margin: 50px;
	border-radius:20px ;
	box-shadow: 0 0 10px black;
	transition: all 1s;
	background: #00000082;
}

.infor{
	position: absolute;
	left: 0;	
	right: 0;
	margin: auto;
	color: white;
	width: 400px;
}

.infor li{
	margin: 15px;
}

.blog{
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;	
}

.blog>div{
	width: 50%;
	max-height: 200px;
	margin: 20px;
	color: #ffffff70;
	font-weight: 100;
}

.blog>div .content{
	cursor: pointer;
}
.blog h1 ,.blog h4,.blog h2,.blog>div a{
	color: white;
}

.blog_foot{
	width: 15% !important;
	text-align: center;
	
}

.friends{
	position: relative;
	flex-flow: column;
	display: flex;
	align-items: center;	
}

.friends h1,.friends li,.friends li a{
	color: white;
	margin: 10px;
}
